@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body, input{
    font-family: 'Nunito', sans-serif !important;
    font-size: 16px;
}

.contenedor{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.contenedor::before {
	content: '';
	position: absolute;
	width: 2000px;
	height: 2000px;
	border-radius: 50%;
	background-color: #3F3D56;
	top: -10%;
	right: 48%;
	transform: translateY(-60%);
	transition: 1.8s ease-in-out;
}

.form-contenedor{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.form-contenedor .contenedor-img{
    z-index: 2;
}

.logotipo{
    position: absolute;
    top: 8%;
    left: 90%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 1fr;
    transition: 1s 0.7s ease-in-out;
    display: flex;
}

.logotipo h2{
    font-weight: bold;
}

.formulario-login{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 1fr;
    transition: 1s 0.7s ease-in-out;
}

.formulario-login .titulo{
    justify-items: center;
}

.formulario-login form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s 0.7s ease-in-out;
    padding: 0rem 5rem
}

.contenedor-man{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%,-50%);
    transition: 1s 0.7s ease-in-out;
    display: flex;
}

.contenedor-man img{
    width: 100%;
    height: 90%;
}

.titulo{
    font-size: 2rem ;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
}


.input-username, .input-password{
    min-width: 400px;
    padding: 10px 0.4rem;
}

.input-username input,
.input-password input{
    display: grid;
    position: relative;
    width: 100%;
    height: 55px;
    border-radius: 20px;
    background-color: #efefef;
    overflow: hidden;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    font-size: 1rem;
}

.input-password input{
    padding-bottom: 5px !important;
}

.input-username input:focus, 
.input-username input:active,
.input-password input:focus,
.input-password input:active{
    border: 1px solid #1060e0;
}

.forgot-password{
    padding-left: 50%;
}

.forgot-password a{
    color:#4286F4 !important;
    cursor: pointer;
    font-size: 0.9rem;
}

.forgot-password a:hover{
  
    color: #1060e0 !important;
    cursor: pointer;
    font-size: 0.9rem;
}

.btn-login{
    min-width: 400px;
    display: flex;
    justify-content: center;
    padding-top: 28px;
}

.btn-login .button-login{
    height: 50px;
    font-weight: bold;
    font-size: 1.1rem;
    width: 97%;
    border-radius: 30px;
    background-color: #4286F4;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-login .button-login:hover{
    background-color: #1060e0;
    color: #fff;
    border: none;
    cursor: pointer;
}

.registrar a{
    text-decoration: none;
    color:#4286F4
   
}

.registrar a:hover{
    text-decoration: none;
    color:#0761f3;
    cursor: pointer;
}
/* --------------- Mediaquerys --------------- */
@media(max-width:870px){
 
}